{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}



{% block title %}
    Trombinoscope Ambassadeur
{% endblock %}


{% block body %}
    <h1 class="text-center">Trombinoscope</h1>
{% endblock %}
