{% extends '_layout.html.twig' %}
{% block title %} Loire et Orleans {% endblock %}
  {% block stylesheets %}
      {{ encore_entry_link_tags('home') }}
  {% endblock %}
{% block body %}
    <section>
        <h1 class="text-center my-5">Loire et Orléans</h1>
        <div class="row d-flex align-items-center justify-content-center ">
            <figure class=" col-10 col-lg-4 text-center">
                <img class="col-12" src="{{ asset('build/work.jpg') }}" alt="work">
            </figure>
            <div class="col-10 col-lg-4">
                <p>Ce site web a pour objectif de constituer une communauté
                    d’acteurs économiques loirétains (chefs d’entreprise, salariés...)
                    prêts à revendiquer les valeurs de LOIRE&ORLEANS, à participer au
                    rayonnement du territoire sur les plans national et international
                    et à co-construire, avec les élus locaux, les stratégies futures de
                    développement économique.</p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="text-center my-5">Qui sont les ambassadeurs ?</h2>
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-10 col-lg-4">
                <p>Chefs d’entreprises, salariés, personnalités publiques (artistes, sportifs...) originaires, résidents ou attachés au Loiret. Ils incarnent les valeurs de la marque : l’authenticité, le courage, l’audace, la responsabilité, la transmission et la profondeur. Ils s’engagent à porter ces valeurs fièrement, dans le temps, sans en détourner l’usage pour un objectif autre que celui de Loire&Orléans (commercial, politique...).<br>
                    Ils favorisent les produits et services du territoire, appliquent une politique et une gestion de ressources humaines responsable et s’impliquent dans des initiatives de la société civile.<br>
                    Le rôle des Ambassadeurs est de revendiquer leur adhésion à la marque Loire&Orléans et leur attachement au territoire sur ses supports de communication, de partager toutes leurs informations positives sur les supports de communication de Loire&Orléans Eco, de relayer les informations positives du territoire sur leurs propres outils de communication et de s'impliquer dans le développement économique du territoire en étant force de proposition sur les actions à conduire (politiques publiques : emploi, formation, mobilité…)<br>
                    Vivre bien, vivre beau, vivre bon, telle est la « profession de foi » des Ambassadeurs Loire&Orléans.</p>
            </div>
            <figure class="col-10 col-lg-4 text-center">
                <img class="col-12" src="{{ asset('build/ambassadeur.jpeg') }}" alt="Description">
            </figure>
        </div>
    </section>
{% endblock %}
