{% extends '_layout.html.twig' %}
{% block title %} Loire et Orleans {% endblock %}

  {% block stylesheets %}
      {{ encore_entry_link_tags('home') }}
  {% endblock %}

{% block body %}
    <main class="container">
        <section>
            <h1 class="text-center m-3">Loire et Orléans</h1>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/500x250" alt="Description"></a>
                    </div>
                    <div class="col-sm-6">
                        <p>Ce site web a pour objectif de constituer une communauté
                            d’acteurs économiques loirétains (chefs d’entreprise, salariés...)
                            prêts à revendiquer les valeurs de LOIRE&ORLEANS, à participer au
                            rayonnement du territoire sur les plans national et international
                            et à co-construire, avec les élus locaux, les stratégies futures de
                            développement économique.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
