{% extends '_layout.html.twig' %}
{% block title %} Loire et Orleans {% endblock %}
{% block body %}
    <main class="container">
        <div class="row">
            <h1 class="text-center">Loire et Orléans</h1>
        </div>
        <div class="row">
            <p class="text-center col-5">Ce site web a pour objectif de constituer une communauté
                d’acteurs économiques loirétains (chefs d’entreprise, salariés...)
                prêts à revendiquer les valeurs de LOIRE&ORLEANS, à participer au
                rayonnement du territoire sur les plans national et international
                et à co-construire, avec les élus locaux, les stratégies futures de
                développement économique.</p>
        </div>
        <div class="row">
            <div>
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/500x250" alt="Description"></a>
            </div>
        </div>
    </main>
{% endblock %}
