$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

$nav-bar: #151210;
$widget-color: #C7B494;
$widget-light-color: rgba(199, 180, 148, 0.65);
$light-color: #ffffff;
$link-light: rgba(255, 255, 255, 0.75);

$font-text: 'Open Sans Light', sans-serif;
$font-title: 'Open Sans Bold', sans-serif;

$size-text: calc(16px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-quote:18px;
$size-footer-text: 10px;
$size-navbar-text: 18px;
$size-intermediate :calc(2.5 * var($size-text));
$size-title: calc(3 * var($size-text));

$padding : 20px;
$padding-sm : calc(var($padding) *2);
$padding-lg : calc(var($padding) *4);

$margin: 20px;
$margin-sm : calc(var($margin) *2);
$margin-lg : calc(var($margin) *4);

$theme-colors: (
    "primary": $nav-bar,
    "danger": #FF4136,
    "info": $widget-color,
);


