@import "vars";

body
{
    background-color: $light-color;
}

a
{
    color: $widget-color;
}

$theme-colors: (
    "primary": $nav-bar,
    "danger": #ff4136,
    "info": $widget-color,
);
@import "~bootstrap/scss/bootstrap";