@import "app";

form {
    & > div {
        background-color: $light-color;
        border: 1px solid $widget-color;
    }
}

.reset_pwd {
    background-color: $light-color;
    border: 1px solid $widget-color;
}

img{
    max-width:200px;
}
@media screen and (min-width: 768px){
    section {
        min-height: 80vh;
    }
}

label {
    font-family: $font-text;
}

.card {
    border-color: $widget-color;

    & p {
        font-family: $font-text;
    }
}

@import "~bootstrap/scss/bootstrap";

