@import "app";

form {
    & > div {
        background-color: $light-color;
        border: 1px solid $widget-color;
    }
}

footer{
    position: absolute;
    bottom: 0;
}
@import "~bootstrap/scss/bootstrap";

