{% extends 'base.html.twig' %}

{% block title %}
    Mon Profil | Ambassadeur
{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('profil') }}
    {% endblock %}

{% block body %}
    <section>
        <h1 class="text-center my-5"> Mon Profil</h1>
    </section>
{% endblock %}

