{% extends 'base.html.twig' %}

{% block title %}Loire&Orléans | Administrateur | Gestion de profils{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags() }}
 {% endblock %}
{% block body %}
    <section class="d-md-flex align-items-center mb-5">
        <div class="form w-100">
            <h1 class="my-4 text-center">Tous les Ambassadeurs</h1>

        </div>

    </section>
{% endblock %}
