{% extends '_layout.html.twig' %}

{% block title %}Loire&Orléans | Mes échanges {% endblock %}

{% block body %}
    <h1 class="text-center my-4">Mes échanges</h1>

    <table class="table">
        <thead class="bg-primary">
        <tr class="text-center text-light">
            <th>Document</th>
            <th>Message</th>
            <th>Date d'envoi du dernier message</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        {% for conversation in conversations %}
            <tr>
                <td>{{ conversation.document.name }}</td>
               <td>{{ conversation.messages|last.message }}</td>
                <td>{{ conversation.messages|last.date|date("d/m/Y à H:i") }}</td>
                <td><a class="btn btn-info" href="{{ 'message_show' }}">Consulter</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
