{% extends '_layout.html.twig' %}

{% block title %}Loire&Orléans | Mes échanges {% endblock %}

{% block body %}
    <h1 class="text-center my-4">Mes échanges</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Expéditeurs</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ app.user.login }}</td>
                <td>{{ message.message }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
