{% extends '_layout.html.twig' %}

{% block title %}Loire&Orléans | Détails de l'échange {% endblock %}

{% block body %}
    <h1 class="text-center my-4">Détails de l'échange</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Expéditeurs</th>
            <th>Messages</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ app.user.firstname }} {{ app.user.lastName }} </td>
                <td>{{ message.message }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun échange/td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex align-items-center my-4 justify-content-center w-100 flex-md-row flex-column">
        <a class="btn btn-lg btn-primary mx-3 col-lg-2 col-md-4 col-8 my-2" href="{{ path('message_index') }}">Retour aux échanges</a>
    </div>

{% endblock %}
