<footer class="font-small lighten-3 footer mt-5">
    <div class="row d-flex justify-content-between p-4 m-0 align-items-center">
        <div class="col-md-4 col-lg-3 contact p-3">
            <h5 class=" mb-4">Contact</h5>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <a href="https://www.loiretorleans-economie.fr/membres-et-partenaires/" target="_blank"
           class="col-md-4 col-lg-3">
            <h5 class="mb-4 text-center">Nos Membres Fondateurs</h5>
            <div class="logo row justify-content-center">
                <img class="col-md-3" src="{{ asset('build/logo-metropole.jpg') }}" alt="metropole">
                <img class="col-md-3" src="{{ asset('build/logo_medef.png') }}" alt="medef">
            </div>
        </a>
        <div class="col-4 col-lg-3 d-flex flex-column">
            <h5 class="mb-4 text-right">Mentions légales</h5>
            <a class="col-6 offset-6 text-center" href="https://www.subdelirium.com/generateur-de-mentions-legales/"
               target="_blank"><img class="col-6" src="{{ asset('build/doc_logo.png') }}" alt="medef"></a>
        </div>
    </div>
</footer>
