<footer class="font-small lighten-3 footer mt-5 d-flex">
    <div class="row d-flex justify-content-lg-between justify-content-around p-4 m-0 align-items-lg-center w-100">
        <div class="col-8 col-lg-3 contact p-3">
            <h5 class=" mb-4">Contact</h5>
        </div>
        <a href="https://www.loiretorleans-economie.fr/membres-et-partenaires/" target="_blank"
           class="col-6 col-lg-3 my-3 my-lg-0">
            <h5 class="mb-4 text-center">Nos Membres Fondateurs</h5>
            <div class="logo row justify-content-center ">
                <img class="col-6 col-lg-3" src="{{ asset('build/logo-metropole.jpg') }}" alt="metropole">
                <img class=" col-6 col-lg-3" src="{{ asset('build/logo_medef.png') }}" alt="medef">
            </div>
        </a>
        <div class="col-6 col-lg-3 d-flex flex-column align-items-end my-3 my-lg-0 justify-content-between">
            <h5 class=" col-lg-6 mb-lg-4 p-0 text-lg-right text-center">Mentions légales</h5>
            <a class="col-lg-6 p-0 text-center" href="https://www.subdelirium.com/generateur-de-mentions-legales/"
               target="_blank"><img class="col-6 " src="{{ asset('build/doc_logo.png') }}" alt="medef"></a>
        </div>
    </div>
</footer>
