{% extends 'base.html.twig' %}

{% block title %}Loire&Orléans | Modifier le document{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('addDocument') }}
 {% endblock %}
{% block body %}
<section class="d-md-flex align-items-center mb-5">
    <div class="form w-100">
        <h1 class="text-center my-4">Modifier {{ document.name }}</h1>
        {{ include('document/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-primary my-4" href="{{ path('document_index') }}">Retour aux documents</a>

        </div>

    </div>
</section>
{% endblock %}



