{% extends '_layout.html.twig' %}

{% block title %}Loire&Orléans | Partage de documents{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Partage de documents</h1>

    <div class="row m-0 justify-content-center">
        {% for document in documents %}
            <div class="card my-4 mx-5 col-md-4 col-10 p-0 col-lg-2">
                <div class="card-body">
                    <h6 class="card-title">Nom : {{ document.name }}</h6>
                    <p class="card-title">Date d'ajout du document : {{ document.updatedAt ? document.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                </div>
                <a href="{{ vich_uploader_asset(document, 'documentFile', 'App\\Entity\\Document') }}" class="btn btn-info mt-2">Télécharger</a>
                <a href="{{ path('message_new', {'document':document.id}) }}" class="btn btn-info mt-2">Envoyer un message</a>
            </div>
        {% else %}
            'Aucun document trouvé'
        {% endfor %}
    </div>

{% endblock %}
